# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files

# Mac system files
.DS_Store

# VS Code
.vscode/

# Logs
*.log